* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.body {
  margin: auto;
  min-width: 1044px;
}
.keyboard {
  width: 1024px;
  min-height: 100px;
  background-color: aliceblue;
  margin: auto;
  margin-top: 20px;
  padding: 10px;
}
.keyboard__text {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  min-height: 78px;
  margin-bottom: 15px;
  padding: 2px;
}
.keyboard__text:focus-visible {
  outline: none;
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 15px;
}
.keyboard__button {
  width: 57px;
  height: 57px;
  background-color: #4f5a69;
  border-radius: 5px;
  border-width: 5px;
  font-weight: 600;
  font-size: 21px;
  color: aliceblue;
  position: relative;
  transition: all 0.1s;
}
.keyboard__button:hover {
  cursor: pointer;
}
.keyboard__button:focus-visible {
  outline: none;
}
.button-dark {
  background-color: #1c232e;
  color: darkgrey;
}
.button__extra{
  position: absolute;
  left: 3px;
  top: 3px;
}
.button-active {
  background-color: #6995dc;
  border-style: inset;
}